@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Georama:wght@500&display=swap");

* {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f0efeb;
}
.section-01 {
    width: 164vh;
    height: 100%;
    margin: 3% 0% 5% 0%;
    background: #f0efeb;
}

header {
    background: #fff;
}
header nav ul {
    padding: 1% 5%;
    width: 40%;
    display: flex;
    float: left;
    background: #fff;
}
header nav ul li {
    padding: 1%;
    list-style: none;
    background: #fff;
}
nav ul li a {
    padding: 5px;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    background: #fff;
}
header .img1 {
    float: left;
    width: 30%;
    padding: 20px;
    background: #fff;
}
header .img1 img {
    padding: 0 35%;
    background: #fff;
}

.icon {
    margin-left: 85%;
    padding: 1%;
    background: #fff;
}
.icon img {
    background: #fff;
}
.icon .img_f {
    padding: 9px;
}

section .text {
    width: 50rem;
    height: auto;
    float: left;
}
.text h1 {
    font-size: 3.8rem;
    padding: 35% 0 0 13%;
    text-transform: capitalize;
}
.text p {
    font-size: 1rem;
    padding: 4% 0 0 13%;
    text-transform: capitalize;
}
.text .btn {
    padding: 15px 64px;
    margin: 16px 13%;
    border-radius: 25px;
    background: #000;
    color: #fff;
    border: none;
}
.logo {
    padding: 2% 0;
    display: flex;
    height: auto;
    width: 50rem;
}
.logo img {
    width: 100%;
}
/* section-1*/
.section-1 {
    margin: 3% 0% 5% 0%;
    background: #fff;
}
.text-1 h1 {
    padding-bottom: 7%;
    padding-top: 10%;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    height: 42px;
    color: #000;
}
.section-1 .text-1 p {
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    height: 69px;
    margin: 1% 30%;
}
.text-1 h2 {
    margin: 6% 0 0% 0px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000;
}
.text-1 .text-h1 {
    margin: -2% 0% 6% 0%;
    font-size: 36px;
    color: #000;
    text-align: center;
}
.section-1 .werap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 63px;
    padding: 5%;
}
.content h1 {
    font-family: "Georama", sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: #000;
}
.content h2 {
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    margin: 5% 0 5% 0;
}
.content p {
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    margin-bottom: 248px;
}
/*   =======  */
.section-2 {
    height: 652px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: rgba(204, 204, 204, 0.3);
    border-radius: 0px;
    display: flex;
}
.section-2 .img2 {
    height: 525px;
    left: 8.59%;
    right: 58.33%;
    top: 0.05px;
    margin-left: 188px;
}
.section-2 .text-01 {
    display: flex;
    flex-direction: column;
    margin: 2% 0 0 5%;
}
.text-01 h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}
.text-01 p {
    font-weight: normal;
    font-size: 36px;
    padding: 3% 0 5% 0%;
    line-height: 42px;
    margin-right: 35%;
}
.text-01 h2 {
    text-decoration-line: underline;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
}
/*=====*/
.section-3 {
    right: 0px;
    top: -0.08px;
}
.section-3 .img2 {
    margin: 10% 0 0 55%;
}
.section-3 .sectiontext-3 {
    margin: -34% 0 15% 17%;
    flex-wrap: wrap;
    width: 40rem;
}
.section-3 .sectiontext-3 h1 {
    margin-left: 13%;
}
.section-3 .sectiontext-3 p {
    text-align: end;
}
.section-3 .sectiontext-3 h2 {
    margin-left: 48%;
}

/* ======*/
.section-4 {
    padding: 10% -1% 0 0%;
}
/*========*/
.section-5 {
    background: #fff;
}
.section-5 h1 {
    text-align: center;
    padding: 190px 0 0% 0%;
    font-size: 36px;
    line-height: 42px;
}
/* box-br  */

.section-5 .box-br {
    display: flex;
    margin: 10% 17% 0 17%;
    justify-content: space-around;
}
.box-br .box {
    display: flex;
    flex-wrap: wrap;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.box1 .box {
    background-color: #2107EC;
    margin-left: 14%;
}
.box2 .box {
    background: #33D3BC;
    margin-left: 14%;
}
.box3 .box {
    background: #18A5C6;
    margin-left: 14%;
}
.box4 .box {
    background: #D38F62;
    margin-left: 14%;
}
.box5 .box {
    background: #F94C43;
    margin-left: 14%;
}
.box6 .box {
    background: #D399FF;
    margin-left: 14%;
}

.colorh1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 15%;
    margin-top: 35%;
}
/* =====*/
.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}
.section-6 h1 {
    text-align: center;
    padding: 180px 0 10% 0%;
    font-size: 36px;
    line-height: 42px;
}
.section-6 .wrap h1 {
    margin-top: -20%;
    align-items: center;
    font-size: 22px;
    line-height: 28px;
}
.section-6 .wrap p {
    text-align: center;
    font-size: 20px;
    line-height: 23px;
}
.section-6 .wrap h2 {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    margin-top: 44px;
    margin-bottom: 52px;
}
/*===section-1===*/
.section-7 {
    background: #fff;
}
.section-7 h1 {
    padding-top: 80px;
    padding-bottom: 25px;
}
.section-7 p {
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
}
form {
    background: #fff;
    align-items: center;
    margin: 26px 0 0 675px;
}
form input {
    padding: 1%;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 0px;
}
form .input-1 {
    margin-right: 10%;
    float: left;
}
form .input-2 {
    float: left;
}
form .input-3 {
    float: left;
    margin: 7% 0 0 -40%;
    padding-right: 26%;
    float: left;
}
form .btn {
    padding: 8px 24px 11px 24px;
    background: #000;
    text-decoration: none;
    border-radius: 100px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    float: left;
    margin: 15% 0% 15% -23%;
}
/* =================================*/

.footer {
    background-color: #000;
    padding: 5rem 0;
    margin: 18% 0 0;
}
.footer .grid-4 {
    display: grid;
    grid-template-columns: 5.5fr 3fr 2fr 0fr;
}
.grid-4-col h1 {
    color: #fff;
    padding: 4% 72% 6% 0%;
}
.grid-4-col .divimg {
    margin-left: 5%;
}
.divimg img {
    padding: 1%;
}

.grid-4-col {
    padding: 0 1.7rem;
}

.footer .text {
    color: #aaa;
}
small {
    display: flex;
    color: #fff;
    margin: 1% 0 0 47%;
}
.footer-links a {
    display: flex;
    color: #888;
    font-size: 1rem;
    margin-bottom: 0.4rem;
    text-decoration: none;
}
